
.vscode/**
.vscode-test/**
test/**
.gitignore
internal/**
.github/**
*.vsix
vsc-extension-quickstart.md
CONTRIBUTING.md
*.log
npm-debug.log*
*.tmp
*.temp
.DS_Store
Thumbs.db

node_modules/**
!node_modules/cloudinary/**
!node_modules/lodash/**
!node_modules/q/**

src/**/*.ts
src/**/test/**
out/test/**
**/*.map
tsconfig.json
jsconfig.json

*.swp
*.swo
*~
.yarnrc